* {
    padding: 0px;
    margin: 0px;
}

/* @import url("style2.css"); */

body {
    background-color: gray;
    font-family: sans-serif;
}
.menu {

    list-style-type: none;
    text-align: center;
}

/* 
ul li:nth-child(3) {
    display: none;
}

*/

.menu li:hover {
    background-color: blueviolet;
}

.menu li {
    display: inline;
    background-color: hotpink;
    width: 150px;
    text-align: center;
    padding: 3px 0 0 10px;
    border-bottom: 3px solid #000000;
 /*   border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px; */
}

.menu li a {
    text-decoration: none;
    color: black;
}