h1 {
    background-color: red;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

.quote {
    font-size: larger;
    border-style: solid;
    border-color: royalblue;
    width: 50%;
}

body div {
    background-color: orange;
}

div {
    background-color: blue;
}

* {
    background-color: chartreuse;
}